.time{
  font-size: 7em;
  display: inline-block;
}
.date{
  font-size: 1.2em;
}
.welcome{
  margin-top: 100px;
  font-size: 4em;
  font-weight: lighter;
}

.waves-effect.waves-dark.hide-arrow::after{
	display: none !important;
}

img{
	max-width: 100%;
	max-height: :100%;
}

.icon-title{
	height:67px;
	width: 70px;
	background: rgb(206, 219, 241);
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 15%;
	padding-right: 15%;
	box-shadow: /*inset*/  0 0 10px;
}

.add_search_criteria{
	color:white;
}


.navbar.header-navbar.pcoded-header.iscollapsed{
	background-color: #bacded;
}

.error-message{
    font-size:1.1em;
    color:#EE0000;
}

.error {
  color: red;
}

#message{
	color:#D62828;
}

#mobile-collapse{
	padding-top: 27px;
}

.btn-close-modal {
   	width:40px;
    text-align: center;
    cursor:pointer;
    color:#E63945;
    font-size: 2em;
    font-weight: lighter;
    border-radius: 50%;
    border-color:#E63945;
    border-style: none;
    border-width: 1px;
    margin: auto;
}

.modal-container{
	background-color: #FFF !important;
}

.modal-content{
	padding:10px;
}

#partnerIdentifier{
	/*background-color: #C6C5B9;*/
	padding:10px;
	font-weight: bolder;
	font-size: 1.2em;
	color: #546A7B;
	text-decoration: underline;
	width:120px;
	margin-right: 20px;
}

.form-control:focus{
	border-color:#546A7B;
	box-shadow: none;
}

label{
	font-size: 1em;
	font-weight: bold;
}


.active{
	color:#247b7B;
	font-size: 1.5em;
	text-transform: capitalize;
}

.inactive{
	color:#F49F0A;
	font-size: 1.5em;
	text-transform: capitalize;
}

.suspended{
	color:#D52941;
	font-size: 1.5em;
	text-transform: capitalize;

}

.vertical-divider{
	border-right: 1px solid #969696;
}

.same-dial-code{
	font-size: .6em;
	color:#EE0000;
}

.bottom{
	position:absolute;
	bottom:0;
	color:#546A7B;
}

.footer-content{
	color:#6A040F;
	font-weight: bold;
}

.btn.btn-success{
	background-color: #546A7B;
}

#partner-content td{
	padding-left:5px;
	padding-right: 5px;
}

.custom-modal-title{
	text-align: center;
	font-size: 2em;
	color:#9D0208;
	text-decoration: underline;
	margin: auto;
}

.photo{
	max-width:150px;
	max-height: 150px;
	margin: auto;
}

.search-toggler{
	cursor: pointer;
}

.hide{
	display: none;
}

.full-payment-details{
	background-color: #343A40;
	display: inline-block;
	margin:auto;
	float: right;
	color:#CCC;
	z-index: 999999999999;
	text-align: center;
}

.payment-content{

	margin:10px;
}

.remove-search{
	color:maroon;
	cursor:pointer;
	margin-left: 5px;
	margin-bottom: 5px;
}

.add-object{
	margin: auto;
	cursor: pointer;
}

.white-label
{
   float: left;
   color:white;
}

.modal, .modal-backdrop {
    position: absolute !important;
}

.pad-row{
	margin-bottom: 30px;
}

.greyed{
	padding: 10px;
	/*background: rgba(33, 27, 41, 1);*/
}